* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
}
.head {
  background-image: url(images/main2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 100vw;
  height: 400px;
}
.right-nav {
  display: flex;
}
.left-nav #logo {
  color: rgba(26, 206, 20, 0.904);
  padding: 0 30px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 50px;
}
.left-nav #sub-logo {
  color: rgba(15, 13, 8, 0.774);
  cursor: pointer;
  padding: 0 60px;
  line-height: 2px;
  font-size: 35px;
}
.right-nav li a {
  text-decoration: none;
  color: rgb(8, 6, 6);
  padding: 0 30px;
  font-size: 20px;
  font-weight: bolder;
}
.right-nav li {
  list-style-type: none;
  margin-top: 20px;
}
.navbar {
  display: flex;
  justify-content: space-between;
}
.hero {
  text-align: center;
  padding-top: 100px;
}
.hero p {
  color: white;
  font-size: 30px;
}
.hero span {
  color: rgba(15, 13, 8, 0.774);
  font-size: 30px;
  font-weight: bolder;
}
.hero button {
  margin-top: 40px;
  background-color: rgba(20, 178, 206, 0.904);
  width: 150px;
  padding: 10px 0;
  color: white;
  border-radius: 20px;
  border: none;
  font-size: 20px;
}
.main .heading h1 {
  color: black;
  font-size: 20px;
  padding-top: 20px;
}
.main .heading {
  text-align: center;
}
.main .heading span {
  color: rgba(9, 45, 207, 0.904);
  font-size: 30px;
  font-weight: bolder;
}
.main .category-img img {
  width: 500px;
  height: 300px;
  /* padding: 10px 70px; */
  margin: 10px 70px;
}

.category-img {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  padding-top: 20px;
}
.top-products {
  background-image: url(images/top-product.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  margin-top: 50px;
}
.product-head {
  text-align: center;
}
.top-products h1 {
  color: rgb(192, 127, 89);
}
.top-products #product {
  color: rgba(116, 173, 11, 0.904);
  font-size: 25px;
  font-weight: bolder;
}
.top-products .images {
  display: flex;
  justify-content: center;
  height: 310px;
  margin-top: 20px;
}
.top-products .images img {
  width: 250px;
  height: 250px;
  padding: 0 10px;
  margin-top: 3px;
  border-radius: 30%;
}
.top-products .images p {
  color: black;
  text-align: center;
  color: rgb(99, 69, 6);
  font-weight: bolder;
}
.top-products .images #title {
  color: black;
}

.top-products .images .image {
  background-color: rgba(243, 243, 243, 0.1);
  margin-left: 3%;
}
.top-products .images .image button {
  /* text-align: center; */
  margin-left: 70px;
  margin-top: 10px;
  width: 100px;
  border-radius: 10px;
  border-color: wheat;
  background-color: rgb(20, 184, 206);
  color: white;
  padding: 5px;
}
.view-products button {
  margin-left: 45%;
  margin-top: 80px;
  background: white#000;
  color: rgb(204, 2, 2);
  font-weight: bolder;
  padding: 5px;
  width: 200px;
  border-radius: 10px;
  border: 2px solid rgba(206, 63, 20, 0.904);
}
.email-part {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}
.email-part .left-part {
  margin-left: 300px;
}
.email-part .left-part p {
  color: black;
  font-size: 20px;
  font-weight: bolder;
}
.email-part .left-part span {
  color: rgba(206, 119, 20, 0.904);
  font-weight: bolder;
  font-size: 20px;
}
.email-part .left-part #sub {
  font-size: 15px;
}
.email-part .right-part {
  margin-right: 200px;
  margin-top: 32px;
}
.email-part .right-part input {
  padding: 5px 10px;
  border: 1px solid rgba(206, 119, 20, 0.904);
}
.email-part .right-part button {
  padding: 5px;
  margin-right: 5px;
  background-color: rgba(206, 119, 20, 0.904);
  color: white;
  border: 1px solid rgba(206, 119, 20, 0.904);
  margin-left: -5px;
}
.email-part .news p {
  position: absolute;
  left: 240px;
  margin-top: px;
  font-size: 70px;
  color: rgba(206, 119, 20, 0.904);
}
.footer {
  padding-top: 40px;
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  height: 300px;
}
.footer h2 {
  color: rgba(206, 119, 20, 0.904);
}
.footer .navigation li {
  text-decoration: none;
  padding-bottom: 10px;
  list-style-type: none;
}
.footer .navigation a {
  text-decoration: none;
  color: white;
}
.footer .connected p {
  padding: 10px;
}

.footer .social-links a {
  color: rgba(206, 119, 20, 0.904);
  border: 1px solid rgba(206, 119, 20, 0.904);
  border-radius: 10px;
  padding: 10px;
}
.connected .address .icon {
  color: rgba(206, 119, 20, 0.904);
  margin-right: 10px;
}
.connected .address p {
  color: white;
}
.footer .social-links h3 {
  color: white;
}

.ship {
  display: flex;
}
.word {
  padding-top: 20px;
  margin-left: 20px;
}

.shipping #truck {
  color: white;
  font-size: 90px;
}
.shipping .word #free {
  color: white;
  font-size: 20px;
  font-weight: bolder;
  padding-top: 20px;
}
.shipping .word #shipping-word {
  color: rgba(206, 119, 20, 0.904);
  font-size: 20px;
  font-weight: bolder;
}
.shipping p {
  color: white;
  font-weight: bold;
}
hr {
  color: white;
}
.footer .navigation h2 {
  margin-bottom: 30px;
}
.footer .connected h2 {
  margin-bottom: 30px;
}
.footer .shipping h2 {
  margin-bottom: 30px;
}
.copyright {
  background-color: black;
  display: flex;
  height: 50px;
  padding-top: 20px;
}
.copyright .sec p {
  color: white;
  margin-left: 350px;
}
.copyright .payment {
  /* margin-left: 400px; */
  padding-left: 100px;
}
.copyright .payment img {
  width: 50px;
  height: 20px;
}
